# Flutter
build/
.web/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/

# IDE
.idea/
.vscode/
*.iml

# Platform build artifacts
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
ios/Pods/
ios/.symlinks/
ios/build/
linux/build/
macos/build/
macos/Pods/
windows/build/

# OS
.DS_Store
Thumbs.db

# Config (environment-specific)
lib/core/config.dart
